//////////   CUERPO   //////////

body {
  color:white;
  position: relative;
  margin: 0;
  padding-bottom: 1rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
 // background-color: lighten(#323232, 20%);
 background-color: white;
}

.center {
  text-align: center;
  margin: 0 auto;
  padding-top: 64px;
  max-width: 80%;
  img{
    max-width: 200px;
  }
  h1{
    text-align: left;
    margin-bottom: 60px;
    font-weight: old;
  }
  
}


//////////   MENU   ///////////

header{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav{
    a{
      font-size: 18px;
      display: inline-block;
      padding: 5px 30px;
      color:white;
      text-decoration: none;
      position: relative;
    }
  }
}

.branding{
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  .logo{
    max-height: 130px;
    margin-right: 10px;
  }
  .name{  
    max-height: 80px;
    position: relative;
    top:-20px;
  }
}

.line{
  width: 100%;
}


//////////   FORMULARIO DOCUMENTO   //////////

.formRegistro{
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
//  background-color: #EAEDED;
  background-color: lighten(#323232, 6%);
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 30px;

  .row{display:-webkit-box; display:-webkit-flex ;display:-ms-flexbox; display:flex; -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; margin-right:15px; margin-bottom:1rem;}
  .col-md{padding-left:25px; }
  input{overflow:visible; }
  .form-control{display:block; width:100%; padding:.5rem .75rem; font-size:1rem; line-height:1.25; color:#464a4c;background-color:#fff;background-image:none;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s}
  .form-control-label{margin-bottom:0; vertical-align:middle}
  .form-control::-ms-expand{background-color:transparent; border:0}
  label{display:inline-block; margin-bottom:.5rem; float:left}
  .inputRO{background-color: #CCD1D1;}
  .col-2{width: 47.5%};
  .col-2b{width: 46%};
}

.mt-1{
  font-family:sans-serif;
  margin-bottom: 30px;
  .btn{
    width: 100px;
    height: 40px;
    padding:.25rem .5rem;
    font-size:.875rem;
    border-radius: 5px;
    border-style: solid;
    font-size:100%;
  }
  .btn-primary{
    color:#fff;
    background-color:#0275d8;
    border-style:solid;
    border-color: lighten(#37495F, 40%);
  }
  .btn-secundary{
    color:#292b2c;
    background-color:#fff;
    border-style:solid;
    border-color: lighten(#CCD1D1 , 40%);
  }
  label{
    margin-left: 10px;
  }
}


//////////   LISTA DOCUMENTOS   //////////

.listaDocumentos{
  border:none; 
  background-color: lighten(#323232, 6%);
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 30px;
 
  thead{
    th{
      text-align: left; 
      border:none; 
      padding-bottom: 20px; 
      padding-left: 5px;
      color: #FF4063;
    }
  }
  tbody{
    th{
      font-weight: normal;
      text-align: left;  
      padding-left: 5px; 
      border-bottom: 1px solid #CACFD2; 
      color:white;
    }
  }
  button{
    background: lighten(#323232, 20%);
    width: 40px; 
    height: 40px;
    border-style: solid;
    border-color: lighten(#323232, 20%);
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 2.5px;
  }
  img{
    max-width: 30px;
    text-align: center;
  }
  .nro{width: 5%}
  .tipo{width: 40%}
  .semAñ{width: 20%}
  .motivo{width: 40%}
}




//////////   BUSCADOR DOCUMENTO   //////////

.search {
  margin-bottom: 10px;
  margin-top: 100px;
  input {
      width: 50%;
      padding: 12px 24px;
      background-color: transparent;
      font-size: 14px;
      color: white;
      background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid white;
      transition: all 250ms ease-in-out;
      margin-bottom: 20px;
      &::placeholder {
          color: white;
      }
      
      &:hover,
      &:focus {
          padding: 12px 0;
          outline: 0;
          border: 1px solid transparent;
          border-bottom: 1px solid white;
          border-radius: 0;
          background-position: 100% center;
      }
  }
}



//////////   INICIO SESIÓN  //////////

.sesion{
  width: 100%;
  background-image: linear-gradient(to top, #F53880 0%, #8E44AD 100%);
  text-align: center;
  margin-top: 8%;
  background-attachment: fixed;
  background-size:cover;
  padding-top: 50px;
  padding-bottom: 40px;

  .login {
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 2%;
    display: inline-block;
    background-image: linear-gradient(to top, #EAEDED 0%, rgba(246, 255, 255, 0.71) 100%);
    
    .form-input{
      width: 310px;
      height: 50px;
      margin-top: 4%;
      padding: 15px;
      font-size: 16px;
      font-family: 'Abel', sans-serif;
      color: #5E6472;
      border-radius: 15px;
      border-style:solid;
      border-color: lighten(#37495F, 60%);
    }
  
    button {
      width: 200px;
      height: 50px;
      padding: 0 20px;
      font-size: 16px;;
      background-image: linear-gradient(to left, #37495F 0%, rgba(145, 149, 251, 0.86) 100%);
      color: white;
      text-align: center;
      transition: all 0.2s linear;
      margin: 7% auto;
      border-radius: 15px;
      font-weight:bold;
      border-style:solid;
      border-color: lighten(#37495F, 40%);
    }
  }

  .footer{
    width: 100%;
    background-color: #B0B2B2;
    color: white;
    text-align: center;
    padding:40px;
    margin-top:100px; 
    .imgU{height:101px}
  }
}


////////// LEYENDAS ICONOS //////////

.iconos{
  margin-bottom: 20px;
  div{
    display: inline-block;
    margin-left: 6px;
  }
  img{
    width: 40px;
    margin-left: 40px;
  }
  label{
    position: relative;
    top: -23px;
    float: left;
  }
}



  ////////// ACCIONES ICONOS //////////

.editarDocumento{
  margin-bottom: 20px;
  div{
    display: inline-block;
    margin-left: 6px;
    margin-right: 30px;
  }
  button{
    background: #CCD1D1;
    width: 40px; 
    height: 40px;
    border-style: solid;
    border-color: #CCD1D1;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 2.5px;
  }
  img{
    width: 30px;
  }
  label{
    position: relative;
    top: -23px;
    float: left;
  }
}

.modal{
  max-width: 90%;
}

.fechaIngreso{
  float: left;
 
}


////////// MODAL //////////

.v--modal-overlay[data-modal="size-modal"] {
  background: rgba(0, 0, 0, 0.5);
}
.demo-modal-class {
  border-radius: 10px;
  background-color: lighten(#323232, 30%);;
  box-shadow: 5px 5px 30px 0px rgba(46,61,73, 0.6);
  padding-bottom: 40px;
  padding-top: 20px;
}


//////////   MODAL SUGERENCIAS   //////////

.sugerencias-modal-content{
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}


//////////   MODAL FLUJO RECLAMO   //////////

.fechas-modal-content{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

//////////   MODAL CAMBIAR FLUJO   //////////

.cambiarFlujo-modal-content{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}



////////// MODAL REGISTRO RECLAMO   //////////

.registrar-modal-content{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  button{
    margin-left: 20px;
  }
}

////////// MODAL VER RECLAMO   //////////

.verReclamo-modal-content{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.registrarDocumento{
  position: absolute;
  top: 180px;
  right: 150px;
  width: 200px;
  height: 50px;
  padding:.25rem .5rem;
  font-size:.875rem;
  border-radius: 40px;
  border-style: solid;
  font-size:100%;
  color:white;
  background-color:#F53880;
  border-color: #F53880 ;
}

.registrarR{
  width: 200px;
  height: 50px;
  padding:.25rem .5rem;
  font-size:.875rem;
  border-radius: 10px;
  border-style: solid;
  font-size:100%;
  color:white;
  background-color:#822E81;
  border-color: lighten(#822E81   , 10%)
}

//////////  MODAL RESOLUCION    //////////

.resolucion-modal-content{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  .aprovado{
    color: green;
  }
  .rechazado{
    color: red;
  }
}

footer {
  color: #B2BABB;
  margin-top: 200px;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  background-color: black;
  .columnaFooter{
    display: inline-block;
    width: 30%;
  }
  .columnaFooterEn{
    display: inline-block;
    position: relative;
    bottom: 69px;
  }
  p{
    color: white;
  }
}

.divTitulo{
  //background-color: #822E81;
  background: -moz-linear-gradient(right, #AF57E1 ,#822E81); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #AF57E1 ,#822E81); /* Standard syntax */
  mix-blend-mode: lighten;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  
  h1{
    text-align: left;
    margin-bottom: 60px;
    margin-left: 100px;
    font-weight: old;
  }
  
}

.detalleReclamo{
  grid-area:areaA;
  border-style: solid;
  border-width: 4px;
  border-color: #822E81;
  border-radius: 30px 0px 0px 30px;
  color: white;
  background-color: #822E81;
  
  label{
    display: block;
  }
}

.infoReclamo{
  grid-area:areaB;
  border-radius: 0px 30px 30px 0px;
  border-style: solid;
  border-width: 4px;
  border-color: #822E81;
  color: #323232;
  
  label{
    display: block;
  }
  button{
    position: relative;
    right: -200px;
    width: 100px;
    height: 50px;
    padding:.25rem .5rem;
    font-size:.875rem;
    border-radius: 40px;
    border-style: solid;
    font-size:100%;
    color:white;
    background-color:#F53880;
    border-color: #F53880 ;
  }
}

.grid{
	display:grid;
  grid-template-areas: "areaA areaB";
  grid-template-columns: 30% 50%;
  grid-template-rows: 150px;
  text-align: center;
  margin-bottom: 30px;
}

.verGrafico{
  position: absolute;
  top: 180px;
  right: 380px;
  width: 200px;
  height: 50px;
  padding:.25rem .5rem;
  font-size:.875rem;
  border-radius: 40px;
  border-style: solid;
  font-size:100%;
  color:white;
  background-color:#F53880;
  border-color: #F53880 ;
}

